
@model Backend.InhumacionCremacion.Entities.DTOs.DetallePdfDto
@*@model Backend.InhumacionCremacion.Entities.DTOs.TesData*@

<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
@*<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
 /* Page Definitions */
 @page WordSection1
	{size:8.5in 11.0in;
	margin:56.75pt 52.05pt 28.4pt 49.65pt;}
div.WordSection1
	{page:WordSection1;}
-->*@
    </style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center; line-height:normal'>
            <span lang=ES-CO style='font-size:20.0pt'>
                LICENCIAS
                INHUMACION / CREMACION INDIVIDUAL
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 5.0pt 4.0pt'>

            <p class=MsoNormal style='margin-bottom:0in;line-height:normal;border:none; padding:0in'>
                <b>
                    <span lang=ES-CO style='font-size:12.0pt'>
                        SECRETARIA DISTRITAL
                        DE SALUD DE BOGOTA D C COLOMBIA                  @Model.FechaActual, @Model.Hora
                    </span>
                </b>
            </p>

        </div>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO style='font-size:12.0pt'>
                    LICENCIA DE CREMACION INDIVIDUAL N° 2315                   
                    CERTIFICADO DE DEFUNCION N° @Model.NumeroLicencia
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Se concede Licencia a</span>
            </b><span lang=ES-CO>: </span><b>
                <span lang=ES-CO style='font-size:12.0pt'>FUNERARIA GAVIRIA</span>
            </b><span lang=ES-CO>
                <b>Fecha</b>: 
                @Model.FechaActual, @Model.Hora
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>En calidad de</span>
            </b><span lang=ES-CO>: @Model.FullNameTramitador</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <u>
                    <span lang=ES-CO>DATOS DEL FALLECIDOS</span>
                </u>
            </b><span lang=ES-CO>:</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Nombres Apellidos</span>
            </b><span lang=ES-CO>:@Model.FullNameFallecido                                                          <b>Nacionalidad</b>: COLOMBIA
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Fecha de Fallecido</span>
            </b><span lang=ES-CO>
                @Model.FechaFallecido
                Hora</b>: @Model.Hora               <b>Género</b>: MASCULINO
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Tipo Identificación</span>
            </b><span lang=ES-CO>
                : CEDULA                                                                                                                             <b>Número</b>:
                7503649784
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Muerte</span>
            </b><span lang=ES-CO>
                : NATURAL                                                                                                                                                            
                <b>Edad</b>: 73 AÑOS
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>DATOS DE QUIEN CERTIFICA DEFUNCION</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Nombre(s)</span>
            </b>
                    <span lang=ES-CO>: @Model.FullNameMedico </span>
        </p>


        @*@foreach (var x in Request.ServerVariables) {<li>@x</li>}*@

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>MEDICO</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>&nbsp;</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Se concede permito Cementerio</span>
            </b><span lang=ES-CO>
                : 
                NORTE-CHAPINERO
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Autorización de Cremación por</span>
            </b><span lang=ES-CO>
                : PEÑA
                CAÑAS JAVIER EDUARDO     <b>Parentesco</b>: HIJO
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>NOTA</span>
            </b><span lang=ES-CO>
                : (COVID-19 SEGÚN CADA CASO SE CITAN
                TRES DECRETOS DISTINTOS O LOS TRES O DOS O UNO)
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>
                    Aprobado por:  FIRMA                                                                                                                                                Validador:
                    FIRMA
                </span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>DORA DUARTE PRADA</span>
            </b><span lang=ES-CO>
                <b>
                    Nubia I.
                    Hernandez S.
                </b>
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <b>
                <span lang=ES-CO>Subdirectora Inspección Vigilancia y Control de Servicios de S</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
            <span lang=ES-CO>&nbsp;</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'>
            <span lang=ES-CO style='font-size:8.0pt'>
                De conformidad con el Decreto
                201 de 1996, La Resolución 5194 del 2010 y las demás disposiciones que los modifiquen,
                adiciones o sustituyan; el administrador del cementerio no permitirá la
                CREMACION del cadáver sin la presentación previa de esta Licencia que deberá
                conservarse cuidadosamente en el archivo de la administración del cementerio,
                Ley 66 de 1916.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'>
            <span lang=ES-CO style='font-size:8.0pt'>
                La cremación únicamente debe
                realizarse después de 24 horas de ocurrido el fallecimiento 14:25 del día
                11/05/2021.
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span lang=ES-CO style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal'>
            <span lang=ES-CO style='font-size:8.0pt'>
                Carrera 32 No 12 –
                81 / PBX 3649090 – Bogotá D C – www.saludcapital.gov.co
            </span>
        </p>

        <div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0in 0in 1.0pt 0in'>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            @*<p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>

            <p class=MsoNormal style='border:none;padding:0in'><span lang=ES-CO>&nbsp;</span></p>*@

        </div>

    </div>

</body>

</html>
